[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
pycrypto = "*"
simplejson = "*"
pyyaml = "*"
blinker = "*"

[dev-packages]

[requires]
python_version = "3.6"
